* {
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
    color: #153147;
    font-weight: 600;
}

body {
    scroll-behavior: smooth;
    background: #f9f8f7;
}

header {
    background-color: #EDEAE4;
    padding: 20px;
    display: flex;
}

header h1 {
    text-align: center;
    flex-grow: 1;
}

.back_icons {
    cursor: pointer;
}

.back_icons h1:hover {
    color: #ADB8BB;
}

.container {
    display: flex;
    justify-content: center;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 30px;
}

.img_product img {
    max-width: 300px;
    max-height: 300px;
}


.details-container {
    width: 50%;
    padding: 20px;
}

.quantity-container {
    margin-top: 20px;
}

.quantity-container label {
    display: block;
    margin-bottom: 5px;
}

.quantity-container input {
    width: 50px;
    padding: 5px;
    margin-right: 10px;
}

.quantity-container button {
    padding: 8px 15px;
    background-color: #153147;
    color: #fff;
    border: none;
    cursor: pointer;
}

.quantity-container button:hover {
    background-color: #ADB8BB;
}