* {
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
    color: #153147;
    font-weight: 600;
    scroll-behavior: smooth;
}

body {
    background: #f9f8f7;
}

.header1 {
    display: flex;
    align-items: center;
    margin: 20px;
    margin-top: 10px;
}

.header1 .user_icons i{
    font-size: 35px;
    color: #153147;
    padding: 0px 10px;
}

.header1 h1 {
    font-size: 25px;
    color: #153147;
    text-decoration: underline;
    margin-right: auto;
    cursor: pointer;
}

.header1 h1:hover{
    color: #ADB8BB;
}

.header1 .menu_icons i{
    font-size: 45px;
    color: #153147;
    padding: 0 5px;
    cursor: pointer;
}

.header1 .menu_icons i:hover{
    color: #ADB8BB;
}

.navigation {
    background-color: #153147;
    position: fixed;
    top: 0;
    right: 100%;
    width: 500px;
    height: 100%;
    z-index: 1000; 
    transition: left 1s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-container ul {
    list-style: none;
    padding: 0;
}

.menu-container ul li {
    margin-bottom: 20px;
}

.menu-container ul li a {
    color: #EDEAE4; 
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-container ul li a:hover{
    color: #ADB8BB;
}

.close_icons i {
    color: #EDEAE4;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 70px;
    background: none;
    border: none;
    cursor: pointer;
}

.close_icons i:hover{
    color: #ADB8BB;
}

.navigation.active {
    right: 0px;
}

.search {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1370px; 
    margin: 30px;
    margin-top: 10px;
}

.search form {
    display: flex;
    align-items: center;
    position: relative;
    background: rgb(147, 146, 146);
    border-radius: 25px;
    width: 100%;
    max-width: 1500px; 
    height: 40px; 
}

.search input {
    background: rgb(233, 231, 231);
    color: rgb(158, 155, 155);
    height: 100%;
    width: 100%;
    border-radius: 90px;
    font-size: 20px;
    font-weight: 300;
    padding: 10px 70px;
    border: none;
}

input:focus {
    outline: none;
}

.search button {
    background: none;
    position: absolute;
    border: none;
    padding: 0px 25px;
    cursor: pointer;
}

.search button i {
    color: rgb(158, 155, 155);
    font-size: 30px;
}

.search button i:hover {
    color: rgb(102, 102, 102);
}

.header2{
    font-size: 12px;
    margin: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.header2_1{
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap; 
}

.brand{
    width: 250px;
    height:140px;
    margin: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2), 0px 5px 15px rgba(0, 0, 0, 0.2);
    background-color: #EDEAE4;
    border-radius: 20px;
    text-align: center;
    display: inline-block; 
    position: relative;
    cursor: pointer;
}

.brand:hover{
    box-shadow: 0 3px 6px rgb(79, 79, 79);
}

.brand img {
    max-width: 90%; 
    max-height: 90%; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    display: block; 
    position: absolute; 
}

.brand img[src="ikea_logo.png"], .brand img[src="homepro_logo.png"], .brand img[src="index.png"] {
    max-width: 200px; 
    max-height: 200px; 
}

.header3{
    font-size: 12px;
    font-weight: 800;
    margin: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.best_seller_container {
    width: auto;
    height: 380px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap; 
}

.header3_1 {
    display: inline-flex;
    width: auto;
}

.best_seller {
    width: 260px;
    height: 260px;
    margin: 35px;
    margin-top: 15px;
    margin-bottom: 0px;
    border: 1px solid  #153147;
    position: relative;
    cursor: pointer;
}

.best_seller img {
    max-width:100%; 
    max-height:100%; 
}

.best_seller img[src="meltorp.png"] {
    margin-top: 50px;
    margin-bottom: 20px;
    max-width: 250px; 
}

.best_seller_des {
    font-size: 14px;
    text-align: left;
    padding: 5px;
}

.best_seller:hover{
    box-shadow: 0 3px 6px rgb(79, 79, 79);
}

.footer {
    background-color: #EDEAE4; 
    padding: 22px;
    text-align: center; 
}

