* {
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
    color: #153147;
    font-weight: 600;
}

body {
    scroll-behavior: smooth;
}

header {
    background-color: #EDEAE4;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 20px;
    position: fixed;
    width: 98%;
    top: 0;
    z-index: 1000; 
}

.back_icons, .filter_icons {
    cursor: pointer;
}

.back_icons h1:hover, .filter_icons i:hover {
    color: #ADB8BB;
}

.filter_icons i {
    font-size: 50px;
}

.filter_form {
    width: 250px;
    padding: 70px;
    position: fixed;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-color: #153147;
    z-index: 999;
    left: 50%; /* Align to the center horizontally */
    top: 50%; /* Align to the center vertically */
    transform: translate(-50%, -50%); /* Move it back by half its own width and height */
}

.filter_form h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #153147;
    text-decoration: underline;
    text-align: center;
}

.form_group {
    margin-bottom: 20px;
}

.form_group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #153147;
}

.form_group select, .form_group input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.form_group select, .form_group input[type="text"] {
    background-color: #fff;
}

button[type="submit"] {
    background-color: #153147;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s;
    display: block; /* Ensure button takes full width */
    margin: 0 auto; /* Center the button horizontally */
}

button[type="submit"]:hover {
    background-color: #ADB8BB;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998; 
}

.filter_active {
    overflow: hidden; /* Disable scrolling */
}

.filter_form, .overlay {
    display: none;
}

.ikea {
    margin: 50px auto; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 33%;
}

.products {
    text-align: center;
    width: 300px;
    height: 260px;
    margin: 70px;
    border: 1px solid  #153147;
    cursor: pointer;
}

.products img {
    max-width:100%; 
    max-height:100%; 
}

.products img[src="meltorp.png"] {
    margin-top: 50px;
    margin-bottom: 20px;
    max-width: 250px; 
}

.products_des {
    font-size: 14px;
    text-align: left;
    padding: 5px;
}

.products:hover{
    box-shadow: 0 3px 6px rgb(79, 79, 79);
}


@media only screen and (max-width: 768px) {
    .ikea {
        min-width: 400px; /* Set a minimum width for the container */
        margin: 50px; /* Center the container horizontally */
    }
}