*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.myclass{
    margin: 20px;

}

.mycart h2{
    color: #153147;
    text-align: center;
    margin: 20px;
}

.menubar{
    text-align: right;
    margin: 20px;
    margin-left: 300px;
    transform: translateY(-210%);
}

.straight-line {
    margin: 180px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 70%; /* Length of the line */
    height: 1px; /* Thickness of the line */
    background-color: black;
}
  
img{
    display: flex;
    justify-content: center; 
    max-width: 800px;
    max-height: 250px;
    transform: translateX(10%);
}

.cartitem{
    margin: 0;
}

i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-20%);
    font-size: 20px;
}

.producttable img{
    display: flex;
    justify-content: center; 
    max-width: 500px;
    max-height: 200px;
    margin-top: 100px; 
}

.cartitem{
    justify-content: left;
    margin-left: 150px;
}

.mycart h4{
    font-size: 23px;
    margin: 0;
    margin-left: 310px;
    text-align: left;
    transform: translateY(-210%);
}

.cartitem i{
    position: absolute;
    right: 280px;
    top: 40%;
    transform: translateY(0%);
    font-size: 25px;
}

.producttable i{
    position: absolute;
    right: 280px;
    top: 80%;
    transform: translateY(0%);
    font-size: 25px;
}

.container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 200px; /* กำหนดความกว้างของ container */
    margin: 0px auto; /* กำหนดระยะห่างรอบขอบของ container */
    margin-top: -150px;
    margin-left: 301px;
}

.text-box, .number-box {
    width: calc(50% - 1px); /* กำหนดความกว้างของแต่ละฝั่ง โดยลบระยะห่างระหว่างฝั่งออก */
    padding: 6px;
    border: 1px solid black;
    box-sizing: border-box;
  }

.containertwo {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 200px; /* กำหนดความกว้างของ container */
    margin: 0px auto; /* กำหนดระยะห่างรอบขอบของ container */
    margin-top: -150px;
    margin-left: 301px;
}

.text-box .number-boxtwo {
    width: calc(50% - 1px); /* กำหนดความกว้างของแต่ละฝั่ง โดยลบระยะห่างระหว่างฝั่งออก */
    padding: 6px;
    border: 1px solid black;
    box-sizing: border-box;
  }



.down i{
    position: absolute;
    top: 40%;
    font-size: 20px;
    margin-left: -40px;
    transform: translateX(-1779%);
    left: 310px;
    transform: translateY(-70%);
}

.downtwo i{
    position: absolute;
    top: 40%;
    font-size: 20px;
    margin-left: -40px;
    transform: translateX(80%);
    left: 310px;
    transform: translateY(1259%); 
}



.half-box {
    width: 50%;
    border: 1px solid black;
    padding: 10px;
  }


/*.checkbox{
    margin: 0;
    text-align: left;
    margin-left: 0px;
    transform: translateY(0%);
}

.color .text-boxcolor{
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: 1px solid black;
    padding: 7px;
    width: 200px; /* กำหนดความกว้างของ container 
    margin: 0px auto; /* กำหนดระยะห่างรอบขอบของ container 
    box-sizing: border-box;
    transform: translateX(240%);
    margin-top: 0px;
    margin-left: -450px;

} */
