* {
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
    color: #153147;
    font-weight: 600;
    scroll-behavior: smooth;
}

/* setting bg color for the entire page */
body {
    background: #f9f8f7;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: #f9f8f7;
}

.first_part {
    display: flex;
    align-items: center;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.first_part .user_icons i {
    font-size: 35px;
    color: #153147;
    padding: 0px 10px;
}

.first_part h1 {
    font-size: 25px;
    color: #153147;
    text-decoration: underline;
    margin-right: auto;
    cursor: pointer;
}

.first_part h1:hover {
    color: #ADB8BB;
}

.first_part .menu_icons i {
    font-size: 45px;
    color: #153147;
    padding: 0 5px;
    cursor: pointer;
}

.first_part .menu_icons i:hover {
    color: #ADB8BB;
}

.navigation {
    background-color: #153147;
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    right: 100%;
    width: 500px;
    z-index: 1000;
    transition: left 1s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-container ul li {
    margin-bottom: 40px;
}

.menu-container ul li a {
    color: #f9f8f7;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.menu-container ul li a:hover {
    color: #ADB8BB;
}


.close_icons i {
    color: #f9f8f7;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 70px;
    background: none;
    border: none;
    cursor: pointer;
}

.close_icons i:hover {
    color: #ADB8BB;
}

/* showing the nav menu when active */
.navigation.active {
    right: 0px;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    margin-bottom: 30px;
    background-image: url("https://drive.google.com/thumbnail?id=1_wLnyOo0pyY7E4XxksyZUq1Gyu45XpX6");
    background-size: cover;
    background-position: center;
}

.home .content {
    margin: 100px;
    max-width: 700px;
    text-align: center;
}

.home .content h3 {
    font-size: 60px;
    color: #f9f8f7;
}

.home .content p {
    font-size: 16px;
    color: #dadada;
    font-weight: 400;
}

.home {
    background-position: left;
}

.btn {
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 30px;
    background-color: #f9f8f7;
    color: #153147;
    padding: 10px 30px;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
}

.btn:hover {
    color: #ADB8BB;
}

.second_part {
    font-size: 12px;
    margin: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.second_part_1 {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.brand {
    width: 250px;
    height: 140px;
    margin: 35px;
    margin-top: 15px;
    margin-bottom: 30px;
    box-sizing: border-box;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2), 0px 5px 15px rgba(0, 0, 0, 0.2);
    background-color: #EDEAE4;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.brand:hover {
    box-shadow: 0 3px 6px rgb(79, 79, 79);
}

.brand img {
    max-width: 90%;
    max-height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    position: absolute;
}

.brand img {
    width: 190px;
    height: auto;
}

.third_part {
    font-size: 12px;
    font-weight: 800;
    margin: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.best_seller_container {
    width: auto;
    height: 420px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.third_part_1 {
    display: inline-flex;
    width: auto;
}

.best_seller {
    width: 260px;
    height: 260px;
    margin: 35px;
    margin-top: 15px;
    margin-bottom: 0px;
    border: 1px solid #153147;
    position: relative;
    cursor: pointer;
}

.best_seller img {
    max-width: 500px;
    max-height: 500px;
    margin-bottom: 40px;
    margin-top: 20px;
    margin-left: 20px;
}

/* create spacing around the image and sets a max width of 250 px. */
.best_seller img[src="https://drive.google.com/thumbnail?id=1bDp3CYw9UeYXwRqffuhLO6amR-Yn8ocH"] {
    margin-bottom: 55px;
    margin-top: 60px;
    margin-left: 20px;
}

/* sets font size, aligns the text to the left, and adds 5 px of padding around the container.*/
.best_seller_des {
    font-size: 14px;
    text-align: left;
    padding: 5px;
}

/* applies a shadow when hovered over best seller.*/
.best_seller:hover {
    box-shadow: 0 3px 6px rgb(79, 79, 79);
}

/* styles the footer section of the webpage by sets the bg*/
.footer {
    background-color: #EDEAE4;
    padding: 22px;
}