* {
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
    color: #153147;
    font-weight: 600;
    scroll-behavior: smooth;
}

body {
    background: #f9f8f7;
    padding-bottom: 50px;
}

.aboutus{
    margin: 10px;
}

.aboutus h1{
    color: #153147;
    text-align: center;
    margin: 20px;
}

.menubar{
    text-align: right;
    margin: 20px;
    margin-left: 300px;
    font-size: 23px;
    transform: translateY(-10%);
    transform: translateX(-1%);
}

.menubar i{
    font-size: 45px;
    color: #153147;
    cursor: pointer;
}

.menubar i:hover{
    color: #ADB8BB;
}

.navigation {
    background-color: #153147;
    position: fixed;
    bottom: 0; right: 0; top: 0;
    right: 100%;
    width: 500px;
    z-index: 1000; 
    transition: left 1s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-container ul li {
    margin-bottom: 40px;
    list-style: none; /* Remove default list styling */

}

.menu-container ul li a {
    color: #EDEAE4; 
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.menu-container ul li a:hover{
    color: #ADB8BB;
} 


.close_icons i {
    color: #EDEAE4;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 70px;
    background: none;
    border: none;
    cursor: pointer;
}

.close_icons i:hover{
    color: #ADB8BB;
}

/* Showing the nav menu when active */
.navigation.active {
    right: 0px;
}

.straight-line {
    margin: 180px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 70%; /* Length of the line */
    height: 1px; /* Thickness of the line */
    background-color: black;
}

/* earn pic */
.earn img{
    position: relative;
    justify-content: center; 
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
    transform: translateX(91%);
    top: 30px;
}
/* earn text */
.earn p{
    position: relative;
    font-size: 22px;
    margin: 0;
    margin-left: 430px;
    text-align: left;
    top: -110px;
}

.pream img{
    position: relative;
    justify-content: center; 
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
    transform: translateX(420%);
    top: 30px;
}

.pream p{
    position: relative;
    font-size: 22px;
    margin: 0;
    margin-left: 430px;
    text-align: left;
    top: -110px;
}

.achi img{
    position: relative;
    justify-content: center; 
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
    transform: translateX(91%);
    top: 30px;
}

.achi p{
    position: relative;
    font-size: 22px;
    margin: 0;
    margin-left: 430px;
    text-align: left;
    top: -110px;
}

.pp img{
    position: relative;
    justify-content: center; 
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
    transform: translateX(420%);
    top: 30px;
}

.pp p{
    position: relative;
    font-size: 22px;
    margin: 0;
    margin-left: 430px;
    text-align: left;
    top: -110px;
}

.win img{
    position: relative;
    justify-content: center; 
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
    transform: translateX(91%);
    top: 30px;
}

.win p{
    position: relative;
    font-size: 22px;
    margin: 0;
    margin-left: 430px;
    text-align: left;
    top: -110px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #EDEAE4;
    padding: 22px;
}