* {
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
    color: #153147;
    font-weight: 600;
    scroll-behavior: smooth;
}

body {
    background: #f9f8f7;
}

.menubar {
    text-align: right;
    margin: 20px;
    font-size: 45px;
    color: #153147;
    cursor: pointer;
}

.menubar i:hover {
    color: #ADB8BB;
}

.navigation {
    background-color: #153147;
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    right: 100%;
    width: 500px;
    z-index: 1000;
    transition: left 1s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-container ul li {
    margin-bottom: 40px;
    list-style: none;  /* Remove default list styling */
}

.menu-container ul li a {
    color: #EDEAE4;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.menu-container ul li a:hover {
    color: #ADB8BB;
}

.close_icons i {
    color: #EDEAE4;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 70px;
    background: none;
    border: none;
    cursor: pointer;
}

.close_icons i:hover {
    color: #ADB8BB;
}

/* Showing the nav menu when active */
.navigation.active {
    right: 0px;
}

.search {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1370px; 
    margin: 30px;
}

.search form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background: #f9f8f7;
    border-radius: 40px;
    max-width: 1000px;
    height: 100%;
    width: 100%;
    border: 1px solid #153147;
    margin-left: auto;
    margin-right: auto;
}

.search input {
    background: #f9f8f7;
    color: rgb(158, 155, 155);
    height: 100%;
    width: 100%;
    border-radius: 90px;
    font-size: 15px;
    font-weight: 300;
    padding: 20px 70px;
    border: none;
}

input:focus {
    outline: none;
}

.search button {
    background: none;
    position: absolute;
    border: none;
    padding: 0px 25px;
    cursor: pointer;
}

.search button i {
    color: #153147;
    font-size: 30px;
}

.search button i:hover {
    color: rgb(102, 102, 102);
}

.searchtwo {
    position: absolute;
    right: 50px; /* Adjust the distance from the right edge of the form */
    top: 50%; /* Vertically center the icon */
    transform: translateY(-50%);
}

.searchtwo i {
    font-size: 30px;
    cursor: pointer
}

.head h1 {
    color: #153147;
    text-align: center;
    margin: 25px;
}

.head h1 {
    color: #153147;
    text-align: center;
    margin: 25px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center; /* Center horizontally */
}

/*living+bed*/
.living img {
    position: relative;
    justify-content: center;
    margin-left: 50px;
    width: 400px;
    max-height: 400px;
    border-radius: 10px;
    top: 30px;
    transform: translateX(55%);
}

/*text over*/
.text_overlay {
    position: absolute;
    left: 290px;
    /* Adjust the horizontal position of the text */
    color: #f9f8f7;
    margin-top: 0px;
    font-size: 17px;
}

.textoverbed {
    position: absolute;
    left: 740px;
    color: #f9f8f7;
    margin-top: 0px;
    font-size: 17px;
}

/*kit+dining*/
.kitchen img {
    position: relative;
    justify-content: center;
    margin-left: 50px;
    width: 400px;
    max-height: 400px;
    margin-top: 40px;
    border-radius: 10px;
    top: 30px;
    transform: translateX(55%);
}

.over {
    position: absolute;
    left: 290px;
    /* Adjust the horizontal position of the text */
    color: #f9f8f7;
    margin-top: 0px;
    font-size: 17px;
}

.overlay {
    position: absolute;
    left: 740px;
    color: #f9f8f7;
    margin-top: 0px;
    font-size: 17px;
}

.bath img {
    position: relative;
    justify-content: center;
    margin-left: 50px;
    width: 400px;
    max-height: 400px;
    margin-top: 40px;
    border-radius: 10px;
    top: 30px;
    transform: translateX(55%);
}

.overtext {
    position: absolute;
    left: 290px;
    color: #f9f8f7;
    margin-top: 0px;
    font-size: 17px;
}

.overr {
    position: absolute;
    left: 740px;
    color: #f9f8f7;
    margin-top: 0px;
    font-size: 17px;
}

.outdoor img {
    position: relative;
    justify-content: center;
    margin-left: 50px;
    width: 400px;
    max-height: 400px;
    margin-top: 40px;
    border-radius: 10px;
    top: 30px;
    transform: translateX(55%);
}

.overagain {
    position: absolute;
    left: 290px;
    color: #f9f8f7;
    margin-top: 0px;
    font-size: 17px;
}

.footer {
    margin-top: 60px;
    background-color: #EDEAE4;
    padding: 22px;
}