*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menubar{
    text-align: right;
    margin: 20px;
    margin-left: 300px;
    font-size: 23px;
    transform: translateY(-10%);
    transform: translateX(-1%);
}

.menubar i{
    font-size: 30px;
    color: #153147;
    cursor: pointer;
}

.menubar i:hover{
    color: #ADB8BB;
}

.navigation {
    background-color: #153147;
    position: fixed;
    bottom: 0; right: 0; top: 0;
    right: 100%;
    width: 500px;
    z-index: 1000; 
    transition: left 1s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-container ul li {
    margin-bottom: 40px;
    list-style: none; /* Remove default list styling */

}

.menu-container ul li a {
    color: #EDEAE4; 
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.menu-container ul li a:hover{
    color: #ADB8BB;
} 


.close_icons i {
    color: #EDEAE4;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 70px;
    background: none;
    border: none;
    cursor: pointer;
}

.close_icons i:hover{
    color: #ADB8BB;
}

/* Showing the nav menu when active */
.navigation.active {
    right: 0px;
}
.search input{
    width: 70%;
    height: 80%;
    text-align: left;
    background: transparent;
    border: 1px solid black(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 14px;
    padding: 20px 45px 20px 20px;
    transform: translateX(22%);
}

.search i{
    position: absolute;
    left: 230px;
    top: 13%;
    color: gray;
    font-size: 25px;
    transform: translateY(-40%); 
    transform: translateX(-50%);
}

.search input{
    padding: 20px 50px;
}

.search button{
    margin: 0px;
    cursor: pointer;
}

.searchtwo i{
    position: absolute;
    left: 230px;
    top: 13%;
    font-size: 25px;
    transform: translateY(-40%); 
    transform: translateX(3260%);
}

.head h1{
    color: #153147;
    text-align: center;
    margin: 25px;
}
/*living+bed*/
.living img {
    position: relative;
    justify-content: center;
    margin-left: 40px; 
    max-width: 400px;
    max-height: 400px;
    border-radius: 10px;
    top: 30px;
    transform: translateX(45%);
}
/*text over*/
.text_overlay {
    position: absolute;
    left: 240px; /* Adjust the horizontal position of the text */
    color: white;
    margin-top: 0px;
    font-size: 17px;
}

.textoverbed {
    position: absolute;
    left: 690px; 
    color: white;
    margin-top: 0px;
    font-size: 17px;
}
/*kit+dining*/
.kitchen img {
    position: relative;
    justify-content: center;
    margin-left: 40px; 
    max-width: 400px;
    max-height: 400px;
    margin-top: 40px;
    border-radius: 10px;
    top: 30px;
    transform: translateX(45%);
}

.over{
    position: absolute;
    left: 240px; /* Adjust the horizontal position of the text */
    color: white;
    margin-top: 0px;
    font-size: 17px;
}

.overlay{
    position: absolute;
    left: 690px; 
    color: white;
    margin-top: 0px;
    font-size: 17px;
}

.bath img{
    position: relative;
    justify-content: center;
    margin-left: 40px; 
    max-width: 400px;
    max-height: 400px;
    margin-top: 40px;
    border-radius: 10px;
    top: 30px;
    transform: translateX(45%);
}

.overtext{
    position: absolute;
    left: 240px; 
    color: white;
    margin-top: 0px;
    font-size: 17px;
}

.overr{
    position: absolute;
    left: 690px; 
    color: white;
    margin-top: 0px;
    font-size: 17px;
}

.outdoor img{
    position: relative;
    justify-content: center;
    margin-left: 40px; 
    max-width: 400px;
    max-height: 400px;
    margin-top: 40px;
    border-radius: 10px;
    top: 30px;
    transform: translateX(45%);
}

.overagain{
    position: absolute;
    left: 240px; 
    color: white;
    margin-top: 0px;
    font-size: 17px;
}
