* {
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
    color: #153147;
    font-weight: 600;
    scroll-behavior: smooth;
}

body{
    background: #f9f8f7;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    /* min-height: 100vh; */
}

.menu_icons {
    text-align: right;
    margin: 20px;
    margin-left: 300px;
    font-size: 23px;
    transform: translateY(-10%);
    transform: translateX(-1%);
}

.menu_icons i {
    font-size: 45px;
    color: #153147;
    cursor: pointer;
}

.menu_icons i:hover {
    color: #ADB8BB;
}

.navigation {
    background-color: #153147;
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    right: 100%;
    width: 500px;
    z-index: 1000;
    transition: left 1s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-container ul li {
    margin-bottom: 40px;
    list-style: none;
    /* Remove default list styling */

}

.menu-container ul li a {
    color: #EDEAE4;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.menu-container ul li a:hover {
    color: #ADB8BB;
}


.close_icons i {
    color: #EDEAE4;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 70px;
    background: none;
    border: none;
    cursor: pointer;
}

.close_icons i:hover {
    color: #ADB8BB;
}

/* Showing the nav menu when active */
.navigation.active {
    right: 0px;
}

img{
     display: flex;
     justify-content: center;
     align-items: center; 
     max-width: 330px; 
     height: 220px;
}
      

.login1 h2{
    color: #153147;
    text-align: center;
}

.login1 .input-box{
    position: relative;
    text-align: center;
    width: 300px;
}

.input-box input{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid black(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}

.input-box i{
    position: absolute;
    right: -45px;
    top: 50%;
    transform: translateY(-20%);
    font-size: 20px;
}

.login1{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.login1 .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 15px;

}

.login1 .btn{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    background: #153147;
    color: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px black(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;

}

.login1 .register-link{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    
}
