* {
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
    color: #153147;
    font-weight: 600;
    scroll-behavior: smooth;
}

/* setting bg color for the entire page */
body {
    background: #f9f8f7;
}

.mycart h1{
    text-align: center;
    color: #153147;
}

.menubar {
    text-align: right;
    margin: 20px;
    margin-left: 300px;
    font-size: 23px;
    transform: translateY(-10%);
    transform: translateX(-1%);
}

.menubar i {
    font-size: 45px;
    color: #153147;
    cursor: pointer;
}

.menubar i:hover {
    color: #ADB8BB;
}

.navigation {
    background-color: #153147;
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    right: 100%;
    width: 500px;
    z-index: 1000;
    transition: left 1s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-container ul li {
    margin-bottom: 40px;
    list-style: none;
}

.menu-container ul li a {
    color: #EDEAE4;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.menu-container ul li a:hover {
    color: #ADB8BB;
}

.close_icons i {
    color: #EDEAE4;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 70px;
    background: none;
    border: none;
    cursor: pointer;
}

.close_icons i:hover {
    color: #ADB8BB;
}

/* Showing the nav menu when active */
.navigation.active {
    right: 0px;
}

.straight-line {
    margin: 20px auto;
    width: 70%;
    height: 1px;
    background-color: #153147;
}
/*pic1*/
.cartitem img {
    max-width: 280px;
    height: 240px;
    margin-bottom: 20px;
    border-radius: 10px;
    transform: translateX(80%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/*padding*/
.cartitem {
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f8f7;
    margin-bottom: 20px;
    
}
/*detail pro1*/
.cartitem h4 {
    text-align: left;
    margin: 0;
    margin-left: 480px;
    font-size: 23px;
    transform: translateY(-300%);
}
/*trash pro1*/
.cartitem i {
    font-size: 25px;
    right: 270px;
    position: absolute;
    top: 50%;
    right: 250px;
    color: #153147;
    transform: translateY(150%);
    /*cursor: pointer;*/
}
/*pic pro2*/
.producttable img {
    max-width: 250px;
    height: 230px;
    border-radius: 10px;
    transform: translateX(75%);
    margin-top: -70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*detail pro2*/
.producttable h4 {
    text-align: left;
    margin: 0;
    margin-left: 480px;
    font-size: 23px;
    transform: translateY(-300%);
}
/*trash pro two*/
.producttable i {
    font-size: 25px;
    right: 270px;
    position: absolute;
    top: 97%;
    right: 250px;
    color: #153147;
    transform: translateY(450%);
}
/* box quan color pro1*/
.container, .text-box, .number-box, .containertwo, .secondbox, .half-boxcolor, .half-boxbeige {
    display: flex;
    justify-content: center;
    margin-right: 100px;
    transform: translateY(-275%);
    flex: 1;
    padding: 2px;
    width: 300px;
    margin: 0px auto;
    margin-top: 20px;
    
}
/*pro1 box*/
.text-box,
.number-box,
.half-boxcolor,
.half-boxbeige,
.half-boxcoltwo, .half-boxoak {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 1px solid #153147;
    border-radius: 5px;
    margin: 0 10px;
}


.containertwo, .text-boxtwo, .number-boxtwo, .boxbox, .half-boxcoltwo, .half-boxoak {
    display: flex;
    justify-content: center;
    margin-right: 100px;
    transform: translateY(-95%);
    flex: 1;
    padding: 2px;
    width: 300px;
    margin: 0px auto;
    margin-top: 20px;
    
}

.text-boxtwo,
.number-boxtwo,
.half-boxcoltwo, .half-boxoak {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 1px solid #153147;
    border-radius: 5px;
    margin: 0 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #EDEAE4;
    padding: 22px;
}