* {
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
    color: #153147;
    font-weight: 600;
    scroll-behavior: smooth;
}

body {
    padding-bottom: 50px;
    background: #f9f8f7;
}

.menu_icons {
    text-align: right;
    margin: 20px;
    margin-left: 300px;
    font-size: 23px;
    transform: translateY(-10%);
    transform: translateX(-1%);
}

.menu_icons i {
    font-size: 45px;
    color: #153147;
    cursor: pointer;
}

.menu_icons i:hover {
    color: #ADB8BB;
}

.navigation {
    background-color: #153147;
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    right: 100%;
    width: 500px;
    z-index: 1000;
    transition: left 1s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-container ul li {
    margin-bottom: 40px;
    list-style: none;
    /* Remove default list styling */

}

.menu-container ul li a {
    color: #EDEAE4;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.menu-container ul li a:hover {
    color: #ADB8BB;
}


.close_icons i {
    color: #EDEAE4;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 70px;
    background: none;
    border: none;
    cursor: pointer;
}

.close_icons i:hover {
    color: #ADB8BB;
}

/* Showing the nav menu when active */
.navigation.active {
    right: 0px;
}


header {
    background-color: #EDEAE4;
    padding: 25px;
    display: flex;
    margin-top: -91px;
    box-shadow: 0 px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    text-align: center;
    flex-grow: 1;
}

.back_icons {
    cursor: pointer;
}

.back_icons h1:hover {
    color: #ADB8BB;
}

.container {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.image-container {
    display: flex;
}

.main-img img {
    width: 450px;
    height: 450px;
    cursor: pointer;
    margin-bottom: 50px;
}

.small-images {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    /* spacing between main image and small images */
}

.small-images .img_product {
    margin-bottom: 10px;
}

.small-images .img_product img {
    width: 100px;
    cursor: pointer;
}

.details-container {
    width: 50%;
    margin-left: 50px;
    /* spacing between small images and details */
}

.details-container h1 {
    margin-top: 10px;
    margin-bottom: 0px;
}

.details-container h2 {
    margin-top: 0px;
    font-weight: 500;
}

.details-container h3 {
    color: #4a4a4a;
    margin-top: 40px;
    margin-bottom: 10px;
}

.details-container p {
    color: #4a4a4a;
    font-weight: 450;
}

.quantity-container {
    margin-top: 40px;
    margin-bottom: 20px;
    color: #939393;
}

.quantity-container label {
    display: block;
    margin-bottom: 5px;
}

.quantity-container input[type="number"] {
    width: 80px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
}

button#add-to-cart {
    background-color: #153147;
    color: #f9f8f7;
    padding: 10px 40px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    transition: background-color 0.3s;
    /* smooth transition on hover */
}

button#add-to-cart:hover {
    background-color: #d8d8d8;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #EDEAE4;
    padding: 22px;
}